<!DOCTYPE html>
<html>
    {% include 'header.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Here is the current information for {{brand.getName }}:</h4>
                    <ul>
                        <li><span class="underline-class">Name</span>: {{brand.getName }}</li>
                    </ul>

                    <h5>Update your Brand information:</h5>
                    <form action="/update_brand" method="post" class="form-inline">
                        <input type="hidden" name="_method" value="patch">
                        <input type="hidden" name="brand_id" value="{{ brand.getId }}">
                        <div class="form-group">
                            <label for="brand_name">Change Name:</label>
                            <input type="text" id="new_name" name="new_name" class="form-select">
                        </div>
                        <button class="btn btn-default" type="submit">Update!</button>
                    </form>

                    <br>
                    <h5>Add a Store to your Brand</h5>
                    <form action="/brand_add_store" method="post">
                        <input type="hidden" name="_method" value="{{ brand.getId }}">
                        <select name="store_id">
                            {% for store in all_stores %}
                                <option value="{{ store.getId }}">{{ store.getName }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-success">Add!</button>
                    </form>

                    <h5>Delete Brand:</h5>
                    <form action="/delete_brand" method="post" class="form-inline">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="brand_id" value="{{ brand.getId }}">
                        <button type="submit" class="btn btn-danger">Delete THIS Brand</button>
                    </form>
                </div><!-- END COLUMN 1 -->


                <div class="col-sm-6">
                    <h4>Here are the current Stores assocaited with your Brand:</h4>
                    <ul>
                        {% for store in stores %}
                            <li><a href="/store/{{ store.getId }}">{{ store.getName }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </body>

    {% include 'footer.html' %}
</html>
